# Xcode
##
.DS_Store
*.xcuserstate
project.xcworkspace/
xcuserdata/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
##
Pods/

# Carthage
##
Carthage/Build/

# fastlane
##
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Swift Package Manager
##
.build/

# OS X
##
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
##
._*

# Files that might appear in the root of a volume
##
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
##
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
